@use '../util' as u;




.b-grid{

   display: grid;
   grid-template-columns: 1;
   margin-inline: auto auto;
   grid-gap: 1em;
   padding: 2em;

     
//FOR DESKTOP

    @include u.breakpoint(large){
       max-width: 72.5em;    
    }
}




